*.class

# Package Files #
*.jar
*.war
*.ear

target/

# Eclipse files #
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project

# Project Specific #
*refresh_token.properties
*access_token.properties
*info.properties