<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<section th:replace="fragments/head :: head(Home)"></section>
<body>

	<!-- Top Nav -->
	<nav th:replace="fragments/nav :: topNav"></nav>

	<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" th:src="@{img/oscar-bg.gif}" width="30%" height="auto"></img>
                    <div class="intro-text">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>
</html>